<div class="page-header">
  <h3>Receiver Interest #<%= @receiver_interest.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Interest</dt>
      <dd>
        <% if @receiver_interest.interest.present? %>
          <a href="/interests/<%= @receiver_interest.interest_id %>">
            <%= @receiver_interest.interest.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Receiver</dt>
      <dd>
        <% if @receiver_interest.receiver.present? %>
          <a href="/gift_receivers/<%= @receiver_interest.receiver_id %>">
            <%= @receiver_interest.receiver.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/receiver_interests" class="btn btn-primary">
        Back
      </a>
      <a href="/receiver_interests/<%= @receiver_interest.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_receiver_interest/<%= @receiver_interest.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
