<!-- Validation failure messages -->
<% if @review_comment.errors.any? %>
  <% @review_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Review Comment #<%= @review_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_review_comment/<%= @review_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for recommendation_id -->
      <div class="form-group">
        <label for="recommendation_id" class="control-label">
          Recommendation
        </label>

        <%= select_tag(:recommendation_id, options_from_collection_for_select(GiftRecommendation.all, :id, :gift, @review_comment.recommendation_id), :class => "form-control") %>
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="<%= @review_comment.comment %>">
      </div>

      <button class="btn btn-warning">
        Update Review Comment
      </button>
      or
      <a href="/review_comments/<%= @review_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
