<div class="page-header">
  <h1>
    Gift occasions
    <a href="/gift_occasions/new" class="btn btn-lg btn-success">New Gift occasion</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Occasion type</th>
        <th>Date</th>
        <th>User</th>
        <th>Receiver</th>
        <th>Budget</th>
        <th>Actions</th>
      </tr>

      <% @gift_occasions.each do |gift_occasion| %>
      <tr>
        <td>
          <% if gift_occasion.occasion_type.present? %>
            <a href="/gift_occasion_types/<%= gift_occasion.occasion_type.id %>">
              <%= gift_occasion.occasion_type.occasion %>
            </a>
          <% end %>
        </td>
        <td><%= gift_occasion.date %></td>
        <td>
          <% if gift_occasion.user.present? %>
            <a href="/users/<%= gift_occasion.user.id %>">
              <%= gift_occasion.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <% if gift_occasion.receiver.present? %>
            <a href="/gift_receivers/<%= gift_occasion.receiver.id %>">
              <%= gift_occasion.receiver.name %>
            </a>
          <% end %>
        </td>
        <td><%= gift_occasion.budget %></td>
        <td>
          <a href="/gift_occasions/<%= gift_occasion.id %>" class="btn btn-primary">Show</a>
          <a href="/gift_occasions/<%= gift_occasion.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_gift_occasion/<%= gift_occasion.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @gift_occasions, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
