<!-- Validation failure messages -->
<% if @gift_recommendation.errors.any? %>
  <% @gift_recommendation.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Gift Recommendation #<%= @gift_recommendation.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_gift_recommendation/<%= @gift_recommendation.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for gift -->
      <div class="form-group">
        <label for="gift" class="control-label">
          Gift
        </label>

        <input type="text" id="gift" name="gift" placeholder="Gift" class="form-control" value="<%= @gift_recommendation.gift %>">
      </div>

      <!-- Label and input for cost -->
      <div class="form-group">
        <label for="cost" class="control-label">
          Cost
        </label>

        <input type="text" id="cost" name="cost" placeholder="Cost" class="form-control" value="<%= @gift_recommendation.cost %>">
      </div>

      <!-- Label and input for url -->
      <div class="form-group">
        <label for="url" class="control-label">
          Url
        </label>

        <input type="text" id="url" name="url" placeholder="Url" class="form-control" value="<%= @gift_recommendation.url %>">
      </div>

      <!-- Label and input for occasion_id -->
      <div class="form-group">
        <label for="occasion_id" class="control-label">
          Occasion
        </label>

        <%= select_tag(:occasion_id, options_from_collection_for_select(GiftOccasion.all, :id, :occasion_type_id, @gift_recommendation.occasion_id), :class => "form-control") %>
      </div>

      <!-- Label and input for selected -->
      <div class="checkbox">
        <label for="selected">
          <input type="checkbox" id="selected" name="selected" value="1" <%= "checked" if @gift_recommendation.selected %>>
          Selected
        </label>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @gift_recommendation.rating %>">
      </div>

      <!-- Label and input for recommender_id -->
      <div class="form-group">
        <label for="recommender_id" class="control-label">
          Recommender
        </label>

        <%= select_tag(:recommender_id, options_from_collection_for_select(Recommender.all, :id, :created_at, @gift_recommendation.recommender_id), :class => "form-control") %>
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @gift_recommendation.description %>">
      </div>

      <button class="btn btn-warning">
        Update Gift Recommendation
      </button>
      or
      <a href="/gift_recommendations/<%= @gift_recommendation.id %>">Cancel</a>
    </form>
  </div>
</div>
